<!-- Start Gallery  -->
<div class="products-box">
    <!-- start headline-->
   <div class="headline">
       <div class="bann">
           <ol class="list-style">
               <li><a href="new-cars.html" class="actived">قوارب</a></li>
               <li><a href="new-cars.html" class="actived">المركبات</a></li>
           </ol>
           <h1><strong><a href="index.html" class="actived"> الرائيسية</a></strong></h1>
       </div>
   </div>
<!-- end headline -->
   <div class="container-fluid">
       <div class="title-all text-center">
           <h2 class="finish">التصفيه</h2>
       </div>        
       <div class="product-caption">
           <button class="order-by dropdown-toggle arrow nav-link-hover" data-toggle="dropdown">رتب
               حسب</button>
           <div class="special-menu text-center">
               <div class="button-group filter-button-group" id="mybuttons" style="display: none;">
                   <ul>
                       <li><button class="active" data-filter="*">الكل</button></li>
                       <li class="bor-two"><button data-filter=".huge">السعر الاعلى للسعر الاقل</button>
                       </li>
                       <li class="bor-three"><button data-filter=".less">السعر الاقل للسعر الاعلى</button>
                       </li>
                       <li class="bor-four"><button data-filter=".fav">المميز</button></li>
                       <li class="bor-one"><button data-filter=".modern">الاحدث</button></li>
                   </ul>
               </div>
           </div>      
       </div>
       <div class="row special-list">
           <div class="col-lg-3 col-md-6 col-sm-12 special-grid less">
               <div class="products-single fix">
                   <div class="box-img-hover">
                       <img src="assets/images/shop/222.jpg" class="img-fluid" alt="Image">
                       <div class="mask-icon">
                           <ul>
                               <li><a href="#" data-toggle="tooltip" class="image-view" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                               <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                               <li>
                                   <a href="#" data-toggle="tooltip" data-placement="right" data-name="Hyundai" data-price="66.800" data-image="assets/images/shop/222.jpg" title="Add to Wishlist" class="wishlist add-to-wishlist btn">
                                       <i class="far fa-heart"></i>
                                   </a>
                               </li>
                           </ul>
                           <a href="#" data-name="Hyundai" data-price="66.800" data-image="assets/images/shop/222.jpg" class="cart add-to-cart btn">Add to Cart</a>
                       </div>
                   </div>
                   <div class="product-details">
                       <h4 class="card-title">Hyundai</h4>
                       <p class="card-text">Price: E 66.800</p>
                   </div>
               </div>
           </div>
           
           <div class="col-lg-3 col-md-6 col-sm-12 special-grid less">
               <div class="products-single fix">
                   <div class="box-img-hover">
                       <img src="assets/images/shop/222.jpg" class="img-fluid" alt="Image">
                       <div class="mask-icon">
                           <ul>
                               <li><a href="#" data-toggle="tooltip" class="image-view" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                               <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                               <li>
                                   <a href="#" data-toggle="tooltip" data-placement="right" data-name="Hyundai" data-price="66.800" data-image="assets/images/shop/222.jpg" title="Add to Wishlist" class="wishlist add-to-wishlist btn">
                                       <i class="far fa-heart"></i>
                                   </a>
                               </li>
                           </ul>
                           <a href="#" data-name="Hyundai" data-price="66.800" data-image="assets/images/shop/222.jpg" class="cart add-to-cart btn">Add to Cart</a>
                       </div>
                   </div>
                   <div class="product-details">
                       <h4 class="card-title">Hyundai</h4>
                       <p class="card-text">Price: E 66.800</p>
                   </div>
               </div>
           </div>
           
           <div class="col-lg-3 col-md-6 col-sm-12 special-grid huge">
               <div class="products-single fix">
                   <div class="box-img-hover">
                       <img src="assets/images/shop/333.jpg" class="img-fluid" alt="Image">
                       <div class="mask-icon">
                           <ul>
                               <li><a href="#" data-toggle="tooltip" class="image-view" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                               <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                               <li>
                                   <a href="#" data-toggle="tooltip" data-placement="right" data-name="Hyundai" data-price="66.800" data-image="assets/images/shop/333.jpg" title="Add to Wishlist" class="wishlist add-to-wishlist btn">
                                       <i class="far fa-heart"></i>
                                   </a>
                               </li>
                           </ul>
                           <a href="#" data-name="Hyundai" data-price="66.800" data-image="assets/images/shop/333.jpg" class="cart add-to-cart btn">Add to Cart</a>
                       </div>
                   </div>
                   <div class="product-details">
                       <h4 class="card-title">Hyundai</h4>
                       <p class="card-text">Price: E 66.800</p>
                   </div>
               </div>
           </div>
           
           <div class="col-lg-3 col-md-6 col-sm-12 special-grid less">
               <div class="products-single fix">
                   <div class="box-img-hover">
                       <img src="assets/images/shop/444.jpg" class="img-fluid" alt="Image">
                       <div class="mask-icon">
                           <ul>
                               <li><a href="#" data-toggle="tooltip" class="image-view" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                               <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                               <li>
                                   <a href="#" data-toggle="tooltip" data-placement="right" data-name="Hyundai" data-price="66.800" data-image="assets/images/shop/444.jpg" title="Add to Wishlist" class="wishlist add-to-wishlist btn">
                                       <i class="far fa-heart"></i>
                                   </a>
                               </li>
                           </ul>
                           <a href="#" data-name="Hyundai" data-price="66.800" data-image="assets/images/shop/444.jpg" class="cart add-to-cart btn">Add to Cart</a>
                       </div>
                   </div>
                   <div class="product-details">
                       <h4 class="card-title">Hyundai</h4>
                       <p class="card-text">Price: E 66.800</p>
                   </div>
               </div>
           </div>
       </div>
        <!-- start myModal -->
       <div id="myModal" class="modal">
           <span class="myModal-close">&times;</span>
           <img class="modal-content img-fluid" id="img01">
           <div id="caption"></div>
       </div>
   </div>
</div>
<!-- End Gallery  -->