<!-- start headline -->
<div class="headline">
    <div class="bann">
        <h2>Show Room</h2>
    </div>
</div>
<!-- end headline -->

<!-- Start showRoom -->
<div class="showtool">
    <div class="feature-content">
        <h3 class="options-features">Options & Features</h3>
        <div class="tools">
          <span class="feature">
            <mat-checkbox
              class="example-margin"
              [checked]="task().completed"
              [indeterminate]="partiallyComplete()"
              (change)="update($event.checked)"
            >
              {{ task().name }}
            </mat-checkbox>
          </span>
          <span class="checks-list">
            <ul>
              <li *ngFor="let subtask of task().subtasks; let i = index">
                <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)">
                  {{ subtask.name }}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </div>
        
        <div class="des-content">
          <h4>Description</h4>
          <textarea [(ngModel)]="description" placeholder="Write a small description about your car..." rows="6"></textarea>
        </div>
        
        <div class="upload">
          <h4>Upload Car Images</h4>
          <div class="service-block-inner">
            <p>Please note that you should upload images similar to the example provided.</p>
          </div>
          <div class="up-image">
            <label for="file" class="form_label">Upload Image</label>
            <input type="file" id="file" name="img" (change)="onFileSelected($event)" />
          </div>
        </div>
        
        <button (click)="submitForm()" class="submit-button">Submit</button>
      </div>          
    
    <div class="big-load">
        <h3 class="sample">Sample Images</h3>
        <div class="row content-sample">
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload1.PNG" alt="Front seats image"></div>
                <h4>Front Seats Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload2.PNG" alt="Dashboard image"></div>
                <h4>Dashboard Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload3.PNG" alt="Back seats image"></div>
                <h4>Back Seats Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload4.PNG" alt="Right view image"></div>
                <h4>Right View Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload5.PNG" alt="Left view image"></div>
                <h4>Left View Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload1.PNG" alt="Front view image"></div>
                <h4>Front View Image</h4>
            </div>
        </div>
    </div>
</div>
<!-- End showRoom -->