<!-- start headline-->
<div class="headline">
    <div class="bann">
        <h2>Know more</h2>
    </div>
</div>
<!-- end headline -->
<!-- Start  showroom-->
<div class="knowMore-container">
    <div class="know-left">
        <div class="show-img">
            <img src="assets/images/showroom/show.png" alt="shows">
        </div>
    </div>
    <div class="know-right">
        <p class="know-para">Fun motors wil help you buy your car ,motorbike ,boat added with the
            technology devices and technical tools.you are sure to the find the right vehicle at the right
            price on the <a href="index.html" class="know-link1">Fun motors.com</a> ....</p>
        <a href="Know-more.html"><button class="know-link2">Touch here</button></a>
    </div>     
</div>
<!-- End showroom  -->