<!-- Footer -->
<div class="footer" id="footer">
    <!-- footer-container -->
    <div class="footer-container">
        <div class="footer-box">
            <h4>About Fun motors</h4>
            <p>Fun motors is the marketplace for the best vehicles in Egypt, packed with used cars,
                motorcycles and boats.Our private sellers and car dealership clients advertise on Fun motors
                knowing the big advantage of great
                Photos and accurate information which makes our website stand out from all the rest.
                Fun motors wil help you buy/sell your car, motorbike, boat or number plate.
                You are sure to find the right vehicle at the right price on Fun motors.com
            </p>
            <a href="#"><button>Read More</button></a>
        </div>
        <div class="footer-box">
            <h4>WEBSITE LINKS</h4>
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="new-cars.html">Cars for sale</a></li>
                <li><a href="showroom.html">Showroom Deals</a></li>
                <li><a href="used-cars.html">Cars for rent</a></li>
                <li><a href="">Latest News</a></li>
                <li><a href="motors.html">Bikes</a></li>
                <li><a href="boats.html">Boats</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <h4>CONTACT US</h4>
            <ul>
                <li>
                    <p><i class="fas fa-map-marker-alt"></i>Address: Preston Street Wichita,KS 67213</p>
                </li>
                <li>
                    <p><i class="fas fa-phone-square"></i>Phone: <a
                            href="tel:+201028496209">+201028496209</a>
                    </p>
                </li>
                <li class="contact-li">
                    <ul class="contact-icon">
                        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                </li>
                <li>
                    <form class="newsletter-box">
                        <div class="form-group">
                            <input class="" type="email" name="Email" placeholder="Email Address*" />
                            <i class="fa fa-envelope"></i>
                        </div>
                        <button class="btn hvr-hover" type="submit">Submit</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <!--end footer-container -->
    <!-- copyright-container -->
    <div class="copyright-container">
        <p class="footer-company">All Rights Reserved. &copy; 2021 <a href="#">Fun motors</a> Design By :
            <a href="#">En:elsaaied ellisy</a>
        </p>
    </div>
    <!--end copyright-container -->
</div>