<!-- start headline -->
<div class="headline">
    <div class="bann">
        <h2>Show Room</h2>
    </div>
</div>
<!-- end headline -->

<!-- Start showRoom -->
<div class="showtool">
    <div class="feature-content">
        <div class="feature">
            <input type="checkbox" id="checkbox-beta" name="checkbox" checked>
            <label for="checkbox-beta">
                <h2>Make your Car Featured</h2>
            </label>
        </div>
        <h3 class="options-features">Options & Features</h3>
        <div class="tools">
            <ul>
                <li>
                    <input type="checkbox" id="checkbox-alpha" name="checkbox" checked>
                    <label for="checkbox-alpha">Steering Adjustment</label>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-alpha1" name="checkbox">
                    <label for="checkbox-alpha1">A/C</label>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-alpha2" name="checkbox">
                    <label for="checkbox-alpha2">Adjustable Seats</label>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-alpha3" name="checkbox">
                    <label for="checkbox-alpha3">Cigarette Lighter</label>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-alpha4" name="checkbox">
                    <label for="checkbox-alpha4">Heater</label>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-alpha5" name="checkbox">
                    <label for="checkbox-alpha5">Power Steering</label>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-alpha6" name="checkbox">
                    <label for="checkbox-alpha6">Bluetooth</label>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-alpha7" name="checkbox">
                    <label for="checkbox-alpha7">GPS</label>
                </li>
                <li>
                    <input type="checkbox" id="checkbox-alpha8" name="checkbox">
                    <label for="checkbox-alpha8">Sunroof</label>
                </li>
            </ul>
        </div>
    </div>            
    
    <div class="des-content">
        <h4>Description</h4>
        <textarea name="textarea" id="textarea" placeholder="Write a small description about your car..." rows="6"></textarea>
    </div>
    
    <div class="upload">
        <h4>Upload Car Images</h4>
        <div class="service-block-inner">
            <p>Please note that you should upload images similar to the example provided.</p>
        </div>
    </div>
    
    <div class="up-image">
        <label for="file" class="form_label">Upload Image</label>
        <input type="file" id="file" name="img" placeholder="Enter your file">
        <button type="submit">Submit</button>
    </div>
    
    <div class="big-load">
        <h3 class="sample">Sample Images</h3>
        <div class="row content-sample">
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload1.PNG" alt="Front seats image"></div>
                <h4>Front Seats Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload2.PNG" alt="Dashboard image"></div>
                <h4>Dashboard Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload3.PNG" alt="Back seats image"></div>
                <h4>Back Seats Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload4.PNG" alt="Right view image"></div>
                <h4>Right View Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload5.PNG" alt="Left view image"></div>
                <h4>Left View Image</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 im-tex-content">
                <div class="imload-content"><img src="assets/images/showroom/upload1.PNG" alt="Front view image"></div>
                <h4>Front View Image</h4>
            </div>
        </div>
    </div>
</div>
<!-- End showRoom -->