<div class="search-container">
  <div class="flex flex-row justify-between items-center">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      placeholder="Search for products..."
      class="search-input"
    />
    <span 
        class="close-dialog nav-link cursor-pointer"
        mat-button 
        (click)="closeDialog()">
        <i class="fa fa-close"></i>
    </span>
  </div>
  <select class="order-by" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>
  <div class="product-list" id="product-list">
    <ng-container *ngIf="filteredProducts.length > 0; else noProducts">
      <div *ngFor="let product of filteredProducts">
        <h3>{{ product.name }}</h3>
        <p>Price: {{ product.price }}</p>
        <img [src]="product.imageUrl" alt="{{ product.name }}" style="width:50px;height:50px">
        <a [href]="product.link">View Details</a>
      </div>
    </ng-container>
    <ng-template #noProducts>
      <div>No products found.</div>
    </ng-template>
  </div>
</div>