<!-- Start headline -->
<div class="headline">
    <div class="bann">
        <ol class="list-style">
            <li><a href="motors" class="actived">موتوسيكلات</a></li>
            <li><a href="motors" class="actived">المركبات</a></li>
        </ol>
        <h1><strong><a href="home" class="actived">الرائيسية</a></strong></h1>
    </div>
</div>
<!-- End headline -->

<!-- Start motors -->
<div class="products-box">
    <div class="container-fluid">
        <div class="title-all">
            <h2 class="finish">التصفيه</h2>
        </div>
        <div class="product-caption">
            <div class="special-menu text-center">
                <input
                    type="text"
                    [(ngModel)]="searchTerm"
                    (input)="onSearch()"
                    placeholder="ابحث عن السيارات..."
                    class="search-input"
                />
                
                <div class="button-group filter-button-group" id="mybuttons">
                    <select class="order-by" [(ngModel)]="selectedOrganize" (change)="onOrganizeChange()">
                        <option value="">رتب حسب</option>
                        <option *ngFor="let organize of lists" [value]="organize">{{ organize }}</option>
                    </select>
                </div>
            </div>      
        </div>
        <div class="row special-list">
            <div *ngFor="let product of filteredProducts" class="col-lg-3 col-md-6 col-sm-12 special-grid huge">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="new" *ngIf="product.isFeatured">New</p>
                        </div>
                        <img [src]="product.imageUrl" class="img-fluid" alt="{{ product.name }}">
                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a
                                       (click)="openModal(product.imageUrl, product.name)" 
                                       data-toggle="tooltip" 
                                       class="image-view" 
                                       data-placement="right" 
                                       title="View">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li>
                                    <a
                                        (click)="addToWishlist(product)"
                                        class="wishlist add-to-wishlist btn">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </li>
                            </ul>
                            <a
                               (click)="addToCart(product)"
                               class="cart add-to-cart btn">Add To Cart</a>
                        </div>
                    </div>
                    <div class="product-details">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">Price: E {{ product.price }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start myModal -->
        <div id="myModal" class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
            <span class="myModal-close" (click)="closeModal()">&times;</span>
            <img class="modal-content img-fluid" [src]="modalImage" id="img01">
            <div id="caption">{{ modalCaption }}</div>
        </div>
    </div>
</div>
<!-- End motors -->