/*------------------------------------------------------------------
		File Name: style.css
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	[Table of contents]

	  1.  IMPORT FONTS
    2.  IMPORT FILES
	  3.  BASIC
  ---SKELETON---
    4.. HEADER 
	     - top nav
	     - bottom nav 
  --container--
	  6.  banner
	    - img-container
	    - shape-container
	  7.wrapper
      -inner
      -highlights
  	8. models-container
      -caption-container
      -MOdels
	9.  buy-container
	10. buy-img-container
	11. buy-shape-container
	12.slider-container
	     -slider-caption
       -slider-box
   13  - footer	
        - footer-container
	14.copyright-container
    16. back-to-top
	17.
		
	-------------------------------------------------------------------*/
/*------------------------------------------------------------------
		2. IMPORT FILES
	-------------------------------------------------------------------*/
@import url(all.css);
@import url(baguetteBox.min.css);
@import url(animate.css);
@import url(font-awesome.min.css);
@import url(superslides.css);
@import url(owl.carousel.min.css);
/*
    font-family: 'Poppins', sans-serif;

    font-family: 'Dosis', sans-serif;
*/
/*------------------------------------------------------------------ home.style -------------------------------------------------------------------*/
/*------------------------------------------------------------------
		3. BASIC
	-------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
html,
body {
  font-family: "Raleway", sans-serif;
  line-height: normal;
}


/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
		container
	-------------------------------------------------------------------*/

.container-app {
  position: relative;
  width: 100%;
  background-color: #252222;
}
/*------------------------------------------------------------------
		header
	-------------------------------------------------------------------*/
.header {
  width: 100%;
  position: fixed;
  z-index: 10;
}
.sign-select {
  position: relative;
}
  div#start {
    display: flex;
    align-items: center;
    background: #1a1a1c;
    color: #be364c;
    border-color: #e42128;
    border: 1px solid;
    height: 30px;
    padding: 10px;
}
.select {
  box-shadow: inset 0 0 0 1px #ce1b28;
  font-size: 15px;
  height: 0px;
  transition: 1s height ease-in-out;
  background: #1a1a1c;
  overflow: hidden;
  text-align: center;
}
.select .option a {
  color: #ce1b28;
  text-decoration: none;
}
.select.start {
  height: 60px;
}
div#select {
  overflow-x: hidden;
}
div#start i {
  font-family: 'FontAwesome';
  margin-left: 10px;
  transition: 1s height ease-in-out;
}
div#start i.Hover {
  transform: rotate(180deg);
  transition: 1s height ease-in-out;
}
.option {
  padding-top: 11px;
  transition: 1s height ease-in-out;
}
.option:hover {
  background: #eea1a1;
}
.option:hover a {
  color: #292929;
}

.sign-select select {
  display: none; 
}

/*------------------------------------------------------------------
		top-nav
	-------------------------------------------------------------------*/
.top-nav {
  background-color: #1a1a1c;
  height: 43px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul.list-inline {
  padding-inline: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  margin-top: 9px;
  float: left;
}
ul.list-inline li {
  padding-inline: 3px;
  display: flex;
  flex-direction: row;
}
ul.list-inline li a i {
  border-radius: 40px;
  padding: 8px;
  font-size: 14px;
  font-weight: 900;
  color: #be364c;
  border: 1px solid #fc252d;
  text-align: center;
  line-height: 8px;
  font-family: "FontAwesome";
}
ul.list-inline li a:hover {
  color: #fd2330;
}
ul.list-inline li a i:hover {
  box-shadow: inset 0 0 0 1px #ce1b28;
  color: #fd2330;
}
ul.list-inline2 {
  display: flex;
  flex-direction: row;
  margin-top: 9px;
  float: right;
  margin-right: 55px;
  padding-inline: 10px;
}
ul.list-inline2 li {
  padding-inline: 0px;
  display: flex;
  flex-direction: row;
}
ul.list-inline2 li i:hover {
  box-shadow: inset 0 0 0 1px #ce1b28;
  color: #fd2330;
}
ul.list-inline2 li a {
  text-decoration: none;
  font-size: 13px;
  color: #be364c;
  font-family: inherit;
  padding-inline: 9px;
}
ul.list-inline2 li a i {
  border-radius: 40px;
  padding: 7px;
  font-size: 12px;
  font-weight: 900;
  color: #be364c;
  border: 1px solid #fc252d;
  text-align: center;
  line-height: 10px;
}

ul.list-inline2 li a i:hover {
  box-shadow: inset 0 0 0 1px #ce1b28;
  color: #fd2330;
}
ul.list-inline2 li a:hover {
  color: #fd2330;
}
/*------------------------------------------------------------------
		bottom-nav
	-------------------------------------------------------------------*/
  .bottom-nav {
    background: linear-gradient(to bottom, #303030 0%, #94292e 100%);
    height: 84px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.bottom-nav ul.list-inline {
  padding-inline: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 53px;
  margin-top: 6px;
  float: left;
}
.bottom-nav-list-inline2 {
  font-style: italic;
  display: flex;
  flex-direction: row;
  margin-top: 27px;
  float: right;
  margin-right: 53px;
}
ul.bottom-nav-list-inline2 li {
  display: flex;
  flex-direction: row;
  padding-inline: 15px;
  height: 83px;
  margin-top: -26px;
}
img.logo {
  width: 100%;
  margin-top: -5px;
  margin-left: 0px;
}
img.logo:hover {
  box-shadow: 0 0 8px 0 rgb(242 36 47 / 80%);
}
ul.bottom-nav-list-inline2 li a.active {
  border: none;
  color: #f9262d;
  font-weight: 900;
  font-size: 14px;
  width: 100px;
  text-align: center;
  padding-top: 30px;
}
ul.bottom-nav-list-inline2 li a.active:hover {
  color: #fefefe;
  background-color: #323232;
}
ul.bottom-nav-list-inline2 li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  width: 100px;
  text-align: center;
  padding-top: 30px;
}
.nav-link-hover:hover {
  color: #f9262d;
  background-color: #323232;
}
/*------------------------
     dropdown
----------------------*/
.dropdown {
  position: relative;
  display: inline-block;
}
.nav-link dropdown-toggle arrow {
  border: none;
  cursor: pointer;
}
li.search {
  list-style: none;
}
/*------------------------
     dropdown-menu
----------------------*/
.dropdown-menu {
  background-color: #8d292e;
  margin-left: 0px;
  margin-top: -4px;
  min-width: 10px;
  display: none;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
ul.bottom-nav-list-inline2 li.dropdown ul.dropdown-menu li.drobmenu-li {
  height: 75px;
  margin-top: -1px;
}
ul.bottom-nav-list-inline2
  li.dropdown
  ul.dropdown-menu
  li.drobmenu-li-noborder {
  height: 75px;
  margin-top: 0px;
}
.drobmenu-li {
  border-bottom: 1px solid white;
}
.drobmenu-li:hover {
  height: 75px;
  color: #f9262d;
  background-color: #323232;
  margin-top: 0px;
  transform: translateY(1px);
}
ul.bottom-nav-list-inline2
  li.dropdown
  ul.dropdown-menu
  li.drobmenu-li-noborder:hover {
  height: 75px;
  background-color: #323232;
  margin-top: 0px;
  transform: translateY(1px);
}
ul.bottom-nav-list-inline2 li.dropdown ul.dropdown-menu li a:hover {
  color: #f9262d;
  transform: rotateY(41deg);
}
/*------------------------
     banner
----------------------*/
section.banner {
  width: 100%;
  height: 670px;
  position: relative;
}
/*------------------------
     img-container
----------------------*/
.img-container {
  width: 100%;
  height: 100%;
}
.img-container img {
  width: 100%;
  height: 100%;
}
/*------------------------
     shape
----------------------*/
#shape {
  position: absolute;
  top: 0px;
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  display: flex;
  justify-content: center;
  border-top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
#shape:before {
  transition: opacity 3s ease;
  transition-delay: 1.25s;
  background: #111111;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
#shape:after {
  background: linear-gradient(270deg, #ce1b28 0%, #111111 74%);
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
/*------------------------
     headline
----------------------*/
.headline {
  top: 262px;
  display: flex;
  left: 34%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #ffffffbf;
  z-index: 1;
}
.headline .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.headline h1 {
  font-family: cursive;
}
.headline p {
  text-align: center;
  font-size: 23px;
  font-family: cursive;
}
h1.Motors {
  color: #c31d28;
}
h1.Motors:hover {
  box-shadow: 0 0 35px 0 rgb(242 36 47 / 82%);
  color: white;
  animation-name: example;
  animation-duration: 3s;
  border-radius: 10px;
}
@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: rgb(255, 72, 0);
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}
/*------------------------
    wrapper
----------------------*/
.wrapper {
  width: 100%;
  margin-top: 31px;
  background: linear-gradient(to bottom, #303030 0%, #94292e 100%);
}
/*------------------------
    inner
----------------------*/
.inner {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ffffffd4;
  font-family: "Font Awesome 5 Brands";
}
.inner h2 {
  border-bottom: 1px dashed #fd242c;
  text-align: center;
  padding-top: 30px;
}
.inner h2:hover {
  color: white;
}
/*------------------------
   highlights
----------------------*/
.highlights {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 150px;
}
.content-highlight {
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-highlight a i:hover {
  color: #ffeb0099;
}
.content-highlight a.icon.fa-qrcode:hover {
  color: #c8cbce;
}
.content-highlight a.icon.fa-line-chart:hover {
  color: #000000;
}
a.icon.fa-line-chart {
  font-family: "FontAwesome";
  color: #ffffff;
}
i.fad.fa-lightbulb {
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
}
a.icon.fa-qrcode {
  font-family: "FontAwesome";
  color: #ffffff;
  text-decoration: none;
}
/*------------------------
   models-container
----------------------*/

.models-container {
  width: 100%;
  margin-top: 31px;
  background: linear-gradient(to bottom, #303030 0%, #94292e 100%);
}
.content {
  color: #252424;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/*------------------------
   models-caption
----------------------*/
.model-caption {
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 30px;
}
/*------------------------
   models
----------------------*/
.models {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}
/*------------------------
   buy-container
----------------------*/
.buy-container {
  width: 100%;
  position: relative;
  margin-top: 31px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #303030 0%, #94292e 100%);
}
.buy-img-container {
  position: absolute;
}
img.shop {
  width: 100%;
  height: 100%;
}
.buy-shape-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  background: linear-gradient(270deg, #ce1b28bd 0%, #111111de 74%);
}
button.shape-button {
  background-color: #9f2332;
  border: none;
  width: 180px;
  height: 50px;
  margin-top: 192px;
  border-radius: 10px;
  color: white;
  margin-left: -496px;
  box-shadow: 9px 9px 30px 0px rgb(0 0 0 / 30%);
}
button.shape-button:hover {
  background-color: #f9262de0;
  color: #efe8e9;
  box-shadow: 9px 9px 30px 0px rgb(245 13 26 / 67%);
}
/*------------------------
 slider-container
----------------------*/
.slider-container {
  width: 100%;
  background: linear-gradient(to bottom, #303030 0%, #94292e 100%);
}
/*------------------------
 slider-caption
----------------------*/
.slider-caption {
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, #303030 0%, #94292e 100%);
  color: #d4d1d1;
  font-family: "FontAwesome";
  height: 45px;
}
.slider-caption h2:hover {
  color: white;
}
/*------------------------
  slider-box
----------------------*/
.slider-box {
  padding: 70px 0px;
  background: url(../images/shop/img-slider.jpg) no-repeat center center;
  background-size: auto auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.slider-box::before {
  background: linear-gradient(270deg, #b1141ebd 0%, #0e0d0dde 74%);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  content: "";
  position: absolute;
  z-index: 0;
}
.main-instagram.owl-carousel .owl-nav button.owl-prev {
  background: #000000;
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  width: 50px;
  line-height: 0px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  top: 0;
  padding: 0;
  margin-top: 0;
  opacity: 1;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-instagram.owl-carousel .owl-nav button.owl-next {
  background: #000000;
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  width: 50px;
  line-height: 0px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  top: 0;
  padding: 0;
  margin-top: 0;
  opacity: 1;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-instagram.owl-carousel .owl-nav button.owl-next:hover,
.main-instagram.owl-carousel .owl-nav button.owl-prev:hover {
  background: #b43935;
}
.img-inner-box {
  position: relative;
}
.hov-in {
  opacity: 0;
  background: rgba(211, 59, 51, 0.5);
  bottom: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out 0.5s;
  -moz-transition: all 0.3s ease-out 0.5s;
  -o-transition: all 0.3s ease-out 0.5s;
  -ms-transition: all 0.3s ease-out 0.5s;
  transition: all 0.3s ease-out 0.5s;
  text-align: center;
  display: table;
}
.hov-in a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.hov-in i {
  color: #000000;
  font-size: 48px;
  position: relative;
  z-index: 2;
}
.hov-in a i:hover {
  color: #ffffff;
}
.img-inner-box:hover .hov-in {
  bottom: 0;
  opacity: 1;
}
img.slider-image {
  width: 350px;
}
/*------------------------
  footer
----------------------*/
.footer {
  width: 100%;
  padding-top: 1px;
  display: block;
  margin-top: 0px;
  background-color: #252222;
  color: white;
}
/*------------------------
  footer-container
----------------------*/
.footer-container {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*------------------------
  footer-box
----------------------*/
.footer-box {
  width: 30%;
}
.footer-box h4 {
  color: white;
  font-size: 17px;
  font-family: "FontAwesome";
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.footer-box h4::before {
  border-bottom: 2px solid #fb252d;
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: -3px;
}
.footer-box p {
  color: #cccccc;
  font-weight: 400;
  font-size: 14px;
  padding-top: 14px;
}
.footer-box button {
  background-color: #e2373f;
  border: none;
  color: white;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  margin-left: 35px;
}
.footer-box button:hover {
  background-color: #ff2423;
}
/*------------------------
  footer-box1
----------------------*/
.footer-box1 h4 {
  color: white;
  font-size: 17px;
  font-family: "FontAwesome";
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.footer-box1 h4::before {
  border-bottom: 2px solid #fb252d;
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: -3px;
}
.footer-box1 ul {
  margin-left: 25px;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  font-family: "FontAwesome";
  list-style: none;
}
.footer-box1 ul li a {
  color: #cccccc;
  text-decoration: none;
}
.footer-box1 ul li a:hover {
  color: #fb252d;
}
.footer-box1 ul li a::before {
  font-family: auto;
  content: "\f105";
  position: absolute;
  margin-inline: -20px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
/*------------------------
  footer-box2
----------------------*/
.footer-box2 h4 {
  color: white;
  font-size: 17px;
  font-family: "FontAwesome";
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.footer-box2 h4::before {
  border-bottom: 2px solid #fb252d;
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: -3px;
}
.footer-box2 ul {
  margin-left: 2px;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  font-family: "FontAwesome";
  list-style: none;
}
.footer-box2 ul li a {
  color: #cccccc;
  text-decoration: none;
}
.footer-box2 ul li a:hover {
  color: #fb252d;
}
.footer-box2 ul li {
  color: #cccccc;
}
i.fas.fa-map-marker-alt {
  margin-inline: 10px;
}
i.fas.fa-phone-square {
  margin-inline: 10px;
}
/*------------------------
  footer-box2-contact-icon
----------------------*/
ul.contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-inline: 20px;
}
.fab {
  font-family: "FontAwesome";
}
li.contact-li {
  margin-right: 10px;
  margin-top: -8px;
}
/*------------------------
  newsletter-box 
----------------------*/
.newsletter-box {
  margin-top: 15px;
  position: relative;
  margin-left: 14px;
}
.form-group {
  margin-bottom: 19px;
}
.newsletter-box input {
  height: 40px;
  border: none;
  padding: 0 10px;
  background: transparent;
  border-radius: 0;
  background: #fff;
  padding: 0 20px;
  width: 100%;
}
.newsletter-box i {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
}
.newsletter-box button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background-color: #e2373f;
}
.newsletter-box button:hover {
  background: #ff1e33;
  border-radius: 100%;
  color: black;
  border: none;
}
/*------------------------
  copyright
----------------------*/
.copyright-container {
  margin-top: 15px;
  border-top: 1px solid;
  font-size: 0.8rem;
  opacity: 0.5;
  padding: 2rem 0;
  text-align: center;
}
.copyright-container p a {
  color: #e2373f;
  text-decoration: none;
}
.copyright-container p a:hover {
  color: #ffffff;
}
/*--- LOADER --*/
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 15px;
  background: #e2373f;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  border-radius: 0px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  font-size: 28px;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}
#back-to-top:hover {
  background: #ff1e33;
  color: #111111;
}
#mylinks {
  position: absolute;
  align-items: center;
  right: 15px;
  width: 25%;
  text-align: center;
  display: none;
  background: linear-gradient(to bottom, #303030 0%, #94292e 100%);
}
.mobile-container {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.mobile-container a {
  color: white;
  margin-left: 20px;
}
#mylinks a {
  color: white;
}
.mobile-container a:hover {
  color: #f9262d;
  background-color: #323232;
}
#mylinks a:hover {
  color: #f9262d;
  background-color: #323232;
}
ul#mylinks li {
  list-style: none;
  height: 45px;
}
/*--------------new-cars.style------------------------------used-cars.style----------------------motors.style -------------------------------------------------------------------*/
/*---container-plus--*/
.container-plus {
  max-width: 100%;
  padding-inline: 0px;
  width: 100%;
  background-color: #6c3436;
}
/*---headline--*/
.headline2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;
}
b,
strong {
  font-weight: 400;
  margin-inline: 5px;
  margin-bottom: 28px;
}
span {
  margin-inline: 12px;
  margin-top: 1px;
}
strong a {
  color: white;
  font-size: 34px;
}
/*reminder-style*/
.list-style {
  display: flex;
  flex-direction: row;
  list-style: none;
}
/*boats*/
.list-style1 {
  display: flex;
  flex-direction: row;
  list-style: none;
}
ol.list-style li a {
  text-decoration: none;
  font-size: 30px;
  margin-inline: 28px;
  font-family: unset;
  color: white;
}
ol.list-style1 li a {
  text-decoration: none;
  font-size: 30px;
  margin-inline: 28px;
  font-family: unset;
  color: white;
}
.list-style > li + li::before {
  position: relative;
  content: "\203A";
  margin: 0 10px;
  font-size: 30px;
  color: #f9262d;
  opacity: 0.7;
  display: inline-block;
}
.list-style1 > li + li::before {
  position: relative;
  content: "\203A";
  margin: 0 10px;
  font-size: 30px;
  color: #f9262d;
  opacity: 0.7;
  display: inline-block;
}
a.actived {
  color: red;
  text-decoration: none;
}
a.actived:hover {
  color: #ffffff;
  background-color: #372f2f;
}
ol.list-style li a.actived:hover {
  color: #fa252f;
  text-decoration: none;
}
.title-all1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
h2.finish {
  font-size: 34px;
  text-align: center;
  background-color: #ff222f;
  width: 153px;
  border-bottom-right-radius: 66px;
  border-top-left-radius: 64px;
}
h2.finish:hover {
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.special-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
select#basic1 {
  width: 100%;
  height: 35px;
  padding: 1px 7px 0px 22px;
  font-size: 15px;
  color: #be364c;
  font-family: fantasy;
  padding-inline: 0px;
  margin-inline: 186px;
  background-color: #1a1a1c;
  border-color: #e42128;
  border: 1px solid;
}
select#basic1:hover {
  color: #fd2330;
  box-shadow: inset 0 0 0 1px #ce1b28;
}
.filter-button-group {
  width: 220px;
}
.filter-button-group button {
  color: #fefefe;
  border: none;
  cursor: pointer;
  padding: 5px 30px;
  font-size: 18px;
  background-color: #8e292e;
  width: 100%;
}
div#mybuttons ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8e292e;
}   
div#mybuttons ul li {
  list-style: none;
  border-bottom: 2px solid #fefefe;
  width: 100%;
}
.filter-button-group button:hover  {
  background-color: #323232;
  color: #f9262d;
}
button.order-by.dropdown-toggle.arrow.nav-link-hover {
  width: 222px;
  background-color: #8e292e;
  color: white;
}
button.order-by.dropdown-toggle.arrow.nav-link-hover:hover {
  background-color: #323232;
  color: #f9262d;
}
.products-single {
  margin: auto;
  width: 70%;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.products-single .box-img-hover {
  overflow: hidden;
  position: relative;
}
.box-img-hover img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.type-lb {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 8;
}
.type-lb .new {
  background: #454545;
  color: #ffffff;
  padding: 2px 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.why-text {
  background: #f5f5f5;
  padding: 15px;
}
.why-text h4 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 15px;
}
.why-text h5 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding: 4px;
  display: inline-block;
  background: #89292e;
  color: #ffffff;
  font-weight: 600;
}
.mask-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0px;
}
.mask-icon ul {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  list-style: none;
}
.mask-icon ul li {
  background: #89292e;
}
.mask-icon ul li a {
  color: #ffffff;
  padding: 5px 10px;
  display: block;
}
.mask-icon a.cart {
  background: #89292e;
  position: absolute;
  bottom: 0;
  left: 0px;
  padding: 10px 20px;
  font-weight: 700;
  color: #ffffff;
}
.mask-icon a.cart:hover {
  background: #000000;
  color: #ffffff;
}
.mask-icon ul li a:hover {
  background: #000000;
  color: #ffffff;
}
.products-single .mask-icon {
  background: rgba(1, 1, 1, 0.5);
  top: -100%;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0.5s;
  -moz-transition: all 0.3s ease-out 0.5s;
  -o-transition: all 0.3s ease-out 0.5s;
  -ms-transition: all 0.3s ease-out 0.5s;
  transition: all 0.3s ease-out 0.5s;
}
.products-single:hover .mask-icon {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-animation: bounceY 0.9s linear;
  -moz-animation: bounceY 0.9s linear;
  -ms-animation: bounceY 0.9s linear;
  animation: bounceY 0.9s linear;
}
@keyframes bounceY {
  0% {
    transform: translateY(-205px);
  }
  40% {
    transform: translateY(-100px);
  }
  65% {
    transform: translateY(-52px);
  }
  82% {
    transform: translateY(-25px);
  }
  92% {
    transform: translateY(-12px);
  }
  55%,
  75%,
  87%,
  97%,
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes bounceY {
  0% {
    -moz-transform: translateY(-205px);
  }
  40% {
    -moz-transform: translateY(-100px);
  }
  65% {
    -moz-transform: translateY(-52px);
  }
  82% {
    -moz-transform: translateY(-25px);
  }
  92% {
    -moz-transform: translateY(-12px);
  }
  55%,
  75%,
  87%,
  97%,
  100% {
    -moz-transform: translateY(0px);
  }
}
@-webkit-keyframes bounceY {
  0% {
    -webkit-transform: translateY(-205px);
  }
  40% {
    -webkit-transform: translateY(-100px);
  }
  65% {
    -webkit-transform: translateY(-52px);
  }
  82% {
    -webkit-transform: translateY(-25px);
  }
  92% {
    -webkit-transform: translateY(-12px);
  }
  55%,
  75%,
  87%,
  97%,
  100% {
    -webkit-transform: translateY(0px);
  }
}
.bann {
  width: 100%;
  margin-top: 100px;
  margin-right: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  color: white;
}

/*---------------------------------------latest-news--------------------------------------------*/
h2.finish1 {
  color: white;
  background: repeating-radial-gradient(#ff232c, #4d4d4d 100px);
}
h2.finish1:hover {
  background-color: #383737;
  color: #dd3030;
}
.title-all:hover {
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.our-team {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
}
.our-team:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.our-team img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out 0s;
}
.our-team:hover img {
  opacity: 0.5;
}
.our-team .team-content {
  color: #000;
  opacity: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #ffffff;
  padding-left: 55px;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.our-team .title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 7px 0;
}
.our-team .post {
  display: block;
  font-size: 15px;
}
.our-team .social {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 35px;
  text-align: center;
  opacity: 0;
  position: absolute;
  bottom: 35px;
  right: 0px;
  transition: all 0.3s ease 0s;
}
.our-team:hover .social {
  opacity: 1;
}
.our-team .social li {
  display: block;
}
.our-team .social li a {
  text-decoration: none;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #000000;
  font-size: 17px;
  color: #fff;
  opacity: 0.9;
  position: relative;
  transform: translate(35px, -35px);
  transition: all 0.3s ease-in-out 0s;
}
.our-team .social li a:hover {
  width: 35px;
  background: #e2373f;
  transition-delay: 0s;
}
.our-team .icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #e2373f;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
}
.hover-team:hover .social {
  opacity: 1;
}
.hover-team:hover .social li:nth-child(1) a {
  transition-delay: 0.3s;
}
.hover-team:hover .social li:nth-child(2) a {
  transition-delay: 0.2s;
}
.hover-team:hover .social li:nth-child(3) a {
  transition-delay: 0.1s;
}
.hover-team:hover .social li:nth-child(4) a {
  transition-delay: 0s;
}
.hover-team:hover .social li a {
  transform: translate(0, 0);
}
.hover-team:hover img {
  opacity: 0.5;
}
.hover-team .title {
  border-bottom: 2px solid #b0b435;
}
.hover-team:hover .social {
  opacity: 1;
}
.hover-team:hover .social li:nth-child(1) a {
  transition-delay: 0.3s;
}
.hover-team:hover .social li:nth-child(2) a {
  transition-delay: 0.2s;
}
.hover-team:hover .social li:nth-child(3) a {
  transition-delay: 0.1s;
}
.hover-team:hover .social li:nth-child(4) a {
  transition-delay: 0s;
}
.hover-team:hover .social li a {
  transform: translate(0, 0);
}
.team-description {
  padding: 20px 0px;
}
.team-description p {
  font-size: 13px;
  margin: 0px;
  color: white;
}

/*--------------------------------------------know-more------------------------------------------------------*/
h2.finish2 {
  padding: 10px;
  margin-top: 50px;
  color: white;
  background: #4d4d4d;
}
.showroom-container {
  background: linear-gradient(223deg, #ce1b28f2 0%, #111111e6 74%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.know-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p.show-para {
  color: #f1efefd9;
  font-size: 17px;
  line-height: 50px;
}
a.show-link1 {
  text-decoration: none;
  color: #e2373feb;
}
a.show-link1:hover {
  color: #ff232c;
}
button.show-link2 {
  border: none;
  background-color: #e2373f;
  color: white;
  border-radius: 5px;
  width: 94px;
  line-height: 27px;
}
button.show-link2:hover {
  background-color: #fb252d;
  color: #f1efefd9;
}
.show-shape:hover {
  box-shadow: 0 0 10px rgb(232 5 5 / 44%);
}
/*showtool*/

.showtool {
  overflow: hidden;
  width: 100%;
  background: linear-gradient(223deg, #ce1b28f2 0%, #111111e6 74%);
  padding-bottom: 40px;
}
.feature-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.feature {
  width: 335px;
  height: 47px;
  background-color: #c33a41eb;
  color: #ffffffcf;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.feature h2 {
  margin-left: 32px;
  font-size: 24px;
  font-family: "Font Awesome 5 Brands";
}
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  content: "\f00c";
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
input[type="checkbox"] + label:before {
  border-radius: 4px;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 1.95rem;
  top: 6px;
  width: 1.95rem;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
.des-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3.o\/f {
  margin-top: 60px;
  color: #ffffffc4;
  border-bottom: 2px solid #fb252d;
  margin-bottom: 40px;
}
.tools {
  width: 184px;
  line-height: 32px;
}
.tools ul {
  display: flex;
  flex-direction: column;
  list-style: lower-alpha;
  color: #dacccc;
}
.tools ul li {
  list-style: none;
}
.tools ul li:hover {
  color: #eb2d43;
}
#checkbox-alpha:checked + label:before,
#checkbox-alpha:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
}

#checkbox-alpha:checked + label:before,
#checkbox-alpha:checked + label:before {
  content: "\f00c";
}
#checkbox-alpha + label:before,
#checkbox-alpha + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
#checkbox-alpha + label:before {
  border-radius: 4px;
}
#checkbox-alpha + label:before,
#checkbox-alpha + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  width: 25px;
}
#checkbox-alpha + label:before,
#checkbox-alpha + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#checkbox-alpha1:checked + label:before,
#checkbox-alpha1:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
}

#checkbox-alpha1:checked + label:before,
#checkbox-alpha1:checked + label:before {
  content: "\f00c";
}
#checkbox-alpha1 + label:before,
#checkbox-alpha1 + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
#checkbox-alpha + label:before {
  border-radius: 4px;
}
#checkbox-alpha1 + label:before,
#checkbox-alpha1 + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  width: 25px;
}
#checkbox-alpha1 + label:before,
#checkbox-alpha1 + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#checkbox-alpha1,
#checkbox-alpha1 {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
#checkbox-alpha2:checked + label:before,
#checkbox-alpha2:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
}

#checkbox-alpha2:checked + label:before,
#checkbox-alpha2:checked + label:before {
  content: "\f00c";
}
#checkbox-alpha2 + label:before,
#checkbox-alpha2 + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
#checkbox-alpha2 + label:before {
  border-radius: 4px;
}
#checkbox-alpha2 + label:before,
#checkbox-alpha2 + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  width: 25px;
}
#checkbox-alpha2 + label:before,
#checkbox-alpha2 + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#checkbox-alpha2,
#checkbox-alpha2 {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
#checkbox-alpha3:checked + label:before,
#checkbox-alpha3:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
}

#checkbox-alpha3:checked + label:before,
#checkbox-alpha3:checked + label:before {
  content: "\f00c";
}
#checkbox-alpha3 + label:before,
#checkbox-alpha3 + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
#checkbox-alpha3 + label:before {
  border-radius: 4px;
}
#checkbox-alpha3 + label:before,
#checkbox-alpha3 + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  width: 25px;
}
#checkbox-alpha3 + label:before,
#checkbox-alpha3 + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#checkbox-alpha3,
#checkbox-alpha3 {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
#checkbox-alpha4:checked + label:before,
#checkbox-alpha4:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
}

#checkbox-alpha4:checked + label:before,
#checkbox-alpha4:checked + label:before {
  content: "\f00c";
}
#checkbox-alpha4 + label:before,
#checkbox-alpha4 + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
#checkbox-alpha4 + label:before {
  border-radius: 4px;
}
#checkbox-alpha4 + label:before,
#checkbox-alpha4 + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  width: 25px;
}
#checkbox-alpha4 + label:before,
#checkbox-alpha4 + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#checkbox-alpha4,
#checkbox-alpha4 {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
#checkbox-alpha5:checked + label:before,
#checkbox-alpha5:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
}

#checkbox-alpha5:checked + label:before,
#checkbox-alpha5:checked + label:before {
  content: "\f00c";
}
#checkbox-alpha5 + label:before,
#checkbox-alpha5 + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
#checkbox-alpha5 + label:before {
  border-radius: 4px;
}
#checkbox-alpha5 + label:before,
#checkbox-alpha5 + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  width: 25px;
}
#checkbox-alpha5 + label:before,
#checkbox-alpha5 + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#checkbox-alpha5,
#checkbox-alpha5 {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
#checkbox-alpha6:checked + label:before,
#checkbox-alpha6:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
}

#checkbox-alpha6:checked + label:before,
#checkbox-alpha6:checked + label:before {
  content: "\f00c";
}
#checkbox-alpha6 + label:before,
#checkbox-alpha6 + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
#checkbox-alpha6 + label:before {
  border-radius: 4px;
}
#checkbox-alpha6 + label:before,
#checkbox-alpha6 + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  width: 25px;
}
#checkbox-alpha6 + label:before,
#checkbox-alpha6 + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#checkbox-alpha6,
#checkbox-alpha6 {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
#checkbox-alpha7:checked + label:before,
#checkbox-alpha7:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
}

#checkbox-alpha7:checked + label:before,
#checkbox-alpha7:checked + label:before {
  content: "\f00c";
}
#checkbox-alpha7 + label:before,
#checkbox-alpha7 + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
#checkbox-alpha7 + label:before {
  border-radius: 4px;
}
#checkbox-alpha7 + label:before,
#checkbox-alpha7 + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  width: 25px;
}
#checkbox-alpha7 + label:before,
#checkbox-alpha7 + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#checkbox-alpha7,
#checkbox-alpha7 {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
#checkbox-alpha8:checked + label:before,
#checkbox-alpha8:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff;
}
#checkbox-alpha8:checked + label:before,
#checkbox-alpha8:checked + label:before {
  content: "\f00c";
}
#checkbox-alpha8 + label:before,
#checkbox-alpha8 + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25);
}
#checkbox-alpha8 + label:before {
  border-radius: 4px;
}
#checkbox-alpha8 + label:before,
#checkbox-alpha8 + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 24px;
  line-height: 21px;
  text-align: center;
  width: 25px;
}
#checkbox-alpha8 + label:before,
#checkbox-alpha8 + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#checkbox-alpha8,
#checkbox-alpha8 {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
.des-content h4 {
  text-align: center;
  color: #f2d9da;
  margin-top: 42px;
  background-color: #be373e;
  width: 164px;
  padding: 5px;
  height: 40px;
}
textarea {
  appearance: none;
  border-radius: 4px;
  border: solid 1px;
  padding: 0.75rem 1rem;
  text-decoration: none;
  background-color: rgb(226 55 63);
  border-color: #be373e;
}
textarea:hover {
  border-color: rgb(193 193 193);
}
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}
.upload h4 {
  color: #f2d9da;
  padding: 10px;
  background-color: #be373e;
}
.upload p {
  background-color: #ea727894;
  color: #f2d9da;
  padding: 10px;
  margin-top: 19px;
  border-top: 4px solid crimson;
}
.service-block-inner::after {
  content: "";
  width: 487px;
  height: 0px;
  border-radius: 0px;
  background: #f3070763;
  z-index: 25;
  transition: all 0.5s ease 0s;
}
.service-block-inner:hover .service-block-inner::after {
  height: 28%;
}
.service-block-inner:hover p {
  color: #ffffff;
  transition: all 0.5s ease 0s;
}
.up-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}
input#file {
  margin-left: 14px;
  color: #e2373f;
}
h3.Sample {
  color: #f2d9da;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #be373e;
  margin-bottom: 58px;
}
.big-load {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.im-tex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
section.bottom-load {
  margin-top: 35px;
}
button.btn.hv-hover {
  border: none;
  background-color: #ce1b28;
  color: white;
}
button.btn.hv-hover:hover {
  background: rgb(76 76 76);
  color: #fd242c;
}
/*----------------------------------------login-page--------------------------------------------*/
.headline3 {
  width: 100%;
  height: 200vh;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 100px;
  margin-bottom: 10px;
}
.login-content {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 40%;
  justify-content: center;
  background: #86292e;
  margin-top: 50px;
  height: 530px;
  padding-top: 20px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}
.user-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.submittion {
  border: 1px solid rgb(160 106 108);
  width: 350px;
  height: 350px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 9px 9px 30px 0px rgb(0 0 0 / 30%);
}
.submittion:hover {
  background-color: brown;
}
.input-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttons-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login h2 i {
  font-size: 22px;
  font-family: system-ui;
}
i.fal.fa-user-circle {
  font-family: "Font Awesome 5 Free";
  font-size: 107px;
  color: brown;
}
button.log-gog a i {
  color: red;
}
.input {
  background: none;
  border: none;
  border-bottom: 1px solid #a06a6c;
  margin: 20px;
}
.input:hover {
  background-color: #444444;
}
.input.input::placeholder {
  color: #eae2e2;
}
.input-content i {
  color: red;
}
i.fal.fa-user {
  font-family: "FontAwesome";
}
.envelope {
  font-family: "Font Awesome 5 Free";
}
i.fas.fa-lock {
  font-family: "Font Awesome 5 Free";
}
.login {
  font-size: 30px;
  color: #eae2e2;
}
input.log {
  background-color: #f9262f;
  border: none;
  width: 92px;
  padding: 4px;
  border-radius: 4px;
  color: #eae2e2;
  box-shadow: 9px 9px 30px 0px rgb(0 0 0 / 30%);
}
input.log:hover {
  background-color: #444444;
}
.buttons-content button {
  box-shadow: 9px 9px 30px 0px rgb(0 0 0 / 30%);
  width: 36%;
  height: 3rem;
  border: none;
  border-radius: 3px;
  font-size: 13px;
}
.buttons-content button a i {
  margin-left: 10px;
}
.login-content-bottom {
  width: 40%;
  background-color: #2f2d2d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  border-bottom-left-radius: 28px;
  color: white;
  border-bottom-right-radius: 28px;
}
.bott-content {
  line-height: 78px;
}
.slider-container2 {
  width: 100%;
  background: linear-gradient(to bottom, #303030 0%, #94292e 100%);
  margin-top: 232px;
}
