        <!-- banner -->
        <section class="banner">
            <div class="img-container">
                <img src="assets/images/banner/banner.PNG" alt="Banner Image">
            </div>
            <div id="shape"></div>
            <!-- textLine -->
            <div class="textLine">
                <div class="head">
                    <h1 class="Company">Company</h1>
                </div>
                <p class="para im-ex">For import and export</p>
            </div>
            <div class="clear"></div>
            <!-- End textLine -->
        </section>
        <!-- end banner -->
        <!-- start wrapper -->
        <div class="wrapper">
            <div class="inner">
                <h2>Responsive.Clean Category</h2>
            </div>
            <!-- start highlights -->
            <div class="highlights">
                <div class="content-highlight wow slideOutUp" data-wow-duration="1s">
                    <a href="#" class="icon fa-line-chart"><span class="label"></span></a>
                    <h3>Interdum gravida</h3>
                </div>
                <div class="content-highlight wow slideOutUp" data-wow-duration="1s">
                    <a href="#"><i class="fad fa-lightbulb"></i></a>
                    <h3>Creativity</h3>
                </div>
                <div class="content-highlight wow slideOutUp" data-wow-duration="1s">
                    <a href="#" class="icon fa-qrcode"><span class="label"></span></a>
                    <h3>Accumsan viverra</h3>
                </div>
            </div>
            <!-- end highlights -->
        </div>
        <!-- end wrapper -->
        <!-- start models container -->
        <div class="models-container">
            <div class="model-caption">
                <h2>The Latest Models</h2>
            </div>
            <!-- start models -->
            <div class="models">
                <div class="content">
                    <img src="assets/images/models/KIA.png" alt="KIA-model" class=" wow lightSpeedIn model-img" data-wow-iteration="1" >
                    <img src="assets/images/models/nissan.jpg" alt="TOYOTA-model" class="model-img  wow lightSpeedIn" data-wow-iteration="1">
                </div>
            </div>
            <!-- end  models -->
        </div>
        <!-- end models container -->
        <!-- start buy container -->
        <div class="buy-container">
            <div class="buy-img-container">
                <img src="assets/images/shop/buy.jpg" alt="shop" class="shop">
                <div class="buy-shape-container">
                    <a routerLink="/new-cars"><button class="shape-button wow bounceInUp" data-wow-duration="2s"
                            data-offset="10">اشترى
                            عربيتك</button></a>
                </div>
            </div>
        </div>
        <!-- end buy container -->