    <div class="login-container">
        <div class="login-content">
            <div class="user-circle">
                <i class="fal fa-user-circle"></i>
                <h3>Login</h3>
            </div>
            <form class="submittion">
                <div class="input-content">
                    <i class="fal fa-user"></i>
                    <input type="text" name="name" placeholder="name" class="input">
                </div>
                <div class="input-content">
                    <i class="fas fa-envelope envelope"></i>
                    <input type="text" name="email" placeholder="email" class="input">
                </div>
                <div class="input-content">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="password" class="input">
                </div>
                <input type="submit" name="login" class="log" placeholder="login">
            </form>
            <div class="buttons-content"> 
                <span class="log-face"><a href="https://www.facebook.com/" title="Facebook" target="_blank">LOGIN WITH
                    FACEBOOK<i class="fab fa-facebook-f" id="face2"></i></a></span>
                <span class="log-gog"><a href="https://www.google.com/" title="google" target="_blank">LOGIN WITH
                GOOGLE<i class="fab fa-google"></i></a></span>
            </div>
        </div>
        <div class="login-content-bottom">
            <a href="register" class="bott-content">Register</a>
            <a href="#" class="bott-content">Forget password?</a>
        </div>
    </div>