
<div class="login-container">
    <div class="login-content">
        <div class="user-circle">
            <i class="fal fa-user-circle"></i>
            <h3>Register</h3>
        </div>
            <form class="submittion">
                <div class="input-content">
                    <input type="text" name="name" placeholder="name" class="input">
                    <i class="fal fa-user"></i>
                </div>
                <div class="input-content">
                    <input type="text" name="email" placeholder="email" class="input">
                    <i class="fas fa-envelope envelope"></i>
                </div>
                <div class="input-content">
                    <input type="phone" name="Phone" placeholder="phone number" class="input">
                    <i class="fas fa-mobile-alt" id="phone"></i>
                </div>
                <div class="input-content">
                    <input type="password" name="password" placeholder="password" class="input">
                    <i class="fas fa-lock" id="lock"></i>
                </div>
                <div class="input-content">
                    <input type="password" name="password" placeholder="verify password" class="input">
                    <i class="fas fa-lock" id="lock"></i>
                </div>
                <input type="submit" name="register" class="log" placeholder=" register">
            </form>
    </div>
    <div class="login-content-bottom">
        <a href="login.html" class="bott-content">Login Now</a>
        <h6>Already have an account?!</h6>
    </div>
</div>